# Postgres docker enviroments
POSTGRES_PASSWORD=password
POSTGRES_DB=dabaseName
POSTGRES_USER=databaseUser

# KeyCloak
KC_BOOTSTRAP_ADMIN_USERNAME=adminUsername
KC_BOOTSTRAP_ADMIN_PASSWORD=adminPassword